<%= form_for @ride, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :brand, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :brand, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :request_time, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :request_time, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :est_wait_time, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :est_wait_time, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pick_time, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :pick_time, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pick_pax, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :pick_pax, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pick_address, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :pick_address, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :drop_address, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :drop_address, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :est_duration_at_pick, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :est_duration_at_pick, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :picks_en_route, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :picks_en_route, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :drops_en_route, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :drops_en_route, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cost_before_discounts, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :cost_before_discounts, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cost_after_discounts, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :cost_after_discounts, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :actual_wait_time, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :actual_wait_time, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :actual_duration, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :actual_duration, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  rides_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
